.addtask {
  z-index: 10000;
  opacity: 90%;
}

.cCard {
  height: 80vh;
  overflow-y: scroll;
}

.column {
  min-height: 60vh;
  border-radius: 5px;
  overflow-y: auto;
}

.card-body {
  border: 1px solid #4caf50;
  transition: transform 0.2s ease-in-out;
}

.card-body:hover {
  transform: scale(1.02);
}

@media (max-width: 980px) {
  .main {
    background-image: url(../../../public/pexels-startup-stock-photos-7376.jpg);
    background-size: cover;
  }
  .backGroundImg {
    display: none;
  }
}
