.addtask {
  z-index: 10000;
  opacity: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.cCard {
  height: 80vh;
  overflow-y: scroll;
}

.column {
  min-height: 60vh;
  border-radius: 5px;
  overflow-y: auto;
}

.card-body {
  border: 1px solid #4caf50;
  transition: transform 0.2s ease-in-out;
}

.card-body:hover {
  transform: scale(1.02);
}

.modal {
  animation: showModel 0.4s ease;
}

@media (max-width: 980px) {
  .main {
    background-image: url(../../../public/pexels-startup-stock-photos-7376.jpg);
    background-size: cover;
  }
  .backGroundImg {
    display: none;
  }
}

@keyframes showModel {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
