.navBar {
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.451);
  backdrop-filter: blur(5px);
}

.addtask {
  z-index: 10000;
  opacity: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.cCard {
  max-height: 60vh;
  overflow-y: auto;
}

.tCard {
  transition: all 0.3s ease;
}

.tCard:hover {
  border: 1px solid gray;
}

.column {
  border-radius: 5px;
}

.card-body {
  border: 1px solid #4caf50;
  transition: transform 0.2s ease-in-out;
}

.card-body:hover {
  transform: scale(1.02);
}

.modal {
  animation: showModel 0.4s ease;
}

.main {
  min-height: 100vh;
}

@media (max-width: 980px) {
  .main {
    background-image: url(../../../public/pexels-startup-stock-photos-7376.jpg);
    background-size: cover;
  }
  .backGroundImg {
    display: none;
  }
}

@keyframes showModel {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
