.addform {
  animation: formAnimation 0.5s ease;
}

.toastMessage {
  position: sticky;
  top: -200px;
}

@keyframes formAnimation {
  0% {
    opacity: 0%;
    width: 0%;
  }
  100% {
    opacity: 90%;
    width: 100%;
  }
}
